{% extends "beutifulhome/base.html" %}

{% block content %}
<article class="page_content">
    <h2>About Me</h2>
    <p>
        BE-u-tiful was started by me, Jade Reece, with the aim to provide
        personal, individual and effective ways to help with stress
        management, confidence, style and wellbeing.
    </p>
    <p>
        After battling eating disorders, anxiety and depression I realised how
        important wellbeing and balance is along with having the tools to cope
        with those hard times that come to us all. That’s why I studied and
        achieved a diploma from the School of Natural Health Sciences in
        Stress Management, which I am also furthering with a Psychology &amp;
        Counselling degree with the Open University.
    </p>
    <p>
        Through personal experience I found that sometimes it’s the little
        things that can help us feel more “human”. Not everything works for
        everyone and just because it works for everyone and not you, it
        certainly doesn’t mean there is anything wrong with you! That’s why I
        specialised in bespoke and individual help to make sure people have
        the tools they need, when they need it.
    </p>
    <p>
        Outside the BE-u-tiful world I am a keen archer, animal lover (I
        currently have a little Maximilian Pionus parrot called Scoops) and
        musician (saxophone and an attempt at the banjo). I was born in
        Somerset where I lived for 18 years before moving 200 miles away to
        Northamptonshire to increase my career prospects and have been
        bouncing around the county ever since. I love learning, reading,
        drawing, cooking and always manage to find time for a nap in between
        running BE-u-tiful, doing a degree and working full time.
    </p>
    <p class="signature">Jade xo</p>
</article>
<article class="page_content">
    <h3>About BE-U-tiful</h3>
    <p>
        BE-u-tiful is a personal service based individual well-being, stress
        management, style and skincare service. We specialise in tailoring to
        your needs - whether it be to gain a bit of confidence in yourself,
        find useful tools to cope with stress, increase your overall
        well-being or just help to make you feel better about yourself.
    </p>
    <p>
        We have a range of different services from stress management consultations, home well-being and pamper parties through to individual client sessions on style and confidence. We can do local or online services and our specifically selected product ranges have been meticulously chosen to make sure we offer the best at the best prices.
    </p>
    <p>
        We try to be as cruelty free and ethical as possible, which is why we
        don’t just look at the products but the company themselves. All
        companies are as ethical as possible, right down to the packaging,
        the employment of the people that make the products and what the
        products are made out of.
    </p>
    <p>
        We aim to help you bring wellness and balance to your life in a way
        that works for you, on the inside and the outside.
    </p>
    <p class="signature">Jade xo</p>
</article>
{% endblock %}
