{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BE-U-tiful</title>
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/beutiful.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% block additional_head %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="header">
        {% include 'beutifulhome/nav.html' %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            <p><a href="mailto:luke@lukeshiner.com">&copy;Luke Shiner {% now "Y" %}</a></p>
            <div class="contact">
                <p>Email: <a href="mailto:contact@beutiful.co.uk">contact@beutiful.co.uk</a></p>
                <a href="http://www.facebook.com/beutifulxx"><img src="{{ STATIC_URL }}images/FB-f-Logo__blue_29.png" alt="facebook">&nbsp;facebook.com/beutifulxx</a>
            </div>
        </div>
    </div>
    <script>
        $(window).on("load", function() {
            var footerHeight = $('.footer').css('height');
            $('.content').css('padding-bottom', footerHeight);
        });
    </script>
</body>
</html>
