{% extends "beutifulhome/base.html" %}

{% block content %}
<article class="page_content">
    <h2>Contact</h2>
    <p>Query on a product or order: <a href="mailto:sales@beutiful.co.uk">sales@beutiful.co.uk</a></p>
    <p>Fancy a chat or looking for more information: <a href="mailto:contact@beutiful.co.uk">contact@beutiful.co.uk</a></p>
    <p>Problems with the site: <a href="mailto:admin@beutiful.co.uk">admin@beutiful.co.uk</a></p>
    <p>
        We are also on Facebook, give us a like and keep up to date with our
        live videos, offers and much more: <a href="http://www.facebook.com/beutifulxx">facebook.com/beutifulxx</a>
    </p>
</article>
{% endblock %}
