{% extends "beutifulhome/base.html" %}

{% block content %}
<article class="page_content">
    <h2>Beutiful: Style &amp; Well-being, Just For You</h2>
    <p>
        A warm welcome to BE-U-tiful and thank you for visiting! Please feel
        free to take a look around, learn a little bit about me, about
        BE-U-tiful and what services we offer. We are personal service based
        and would love to hear from you with any thoughts, queries, or
        questions on how we can help you - check out our Contact tab at the
        top for ways to contact us.
    </p>
    <p>
        Links to the shops are below - just click on the pictures. You can
        shop direct or if you would like any advice on stress management,
        wellbeing, skincare, confidence and style just go to our
        <a href="{% url 'beutifulhome:contact' %}">Contact page</a> and we will
        be happy to discuss - no obligation!
    </p>
</article>

<article class="shoplink">
    <a href="http://www.ringana.com/en/1438796">
        <div class="shoplink_image" style="background-image: url('{{ STATIC_URL }}images/skincare_wellbeing.jpg')">

        </div>
        <p>Shop Skin Care &amp; Wellbeing</p>
    </a>
</article>
<article class="shoplink">
    <a href="https://beutiful.magnetix-wellness.com/en">
        <div class="shoplink_image" style="background-image: url('{{ STATIC_URL }}images/magnetic.jpg')">

        </div>
        <p>Shop Magnetic Jewellery</p>
    </a>
</article>
{% endblock %}
