{% extends "beutifulhome/base.html" %}

{% block content %}
<article class="page_content">
    <h3>Beutiful: Style &amp; Well-being, Just For You</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis sed turpis ultrices vulputate et nec augue. Duis gravida cursus varius. In vitae sodales metus. Suspendisse vestibulum dolor porttitor faucibus porttitor. Cras facilisis bibendum nibh nec consectetur. Nulla placerat iaculis bibendum. Fusce ullamcorper est at rhoncus fermentum. Etiam pellentesque egestas porta. In ultricies eget dui non dapibus. Donec in est lorem. Sed nec lacus ultricies, efficitur mi ac, luctus eros. Cras nec dignissim diam, eu pulvinar magna. Morbi justo nunc, aliquam a molestie et, feugiat eget risus. Maecenas sodales scelerisque cursus. Pellentesque porta maximus ante eget venenatis. Ut suscipit, risus eget egestas pretium, augue lacus tincidunt magna, sit amet interdum lacus neque ac est.</p>
    <p>Proin scelerisque ornare molestie. Praesent fringilla velit vel consectetur congue. Vivamus sit amet turpis pulvinar, cursus nisi vel, gravida tortor. Mauris suscipit iaculis ullamcorper. Donec non eros id nulla pulvinar eleifend vitae vehicula risus. Nulla eget pretium mauris, in feugiat lorem. Etiam et aliquet magna. Proin ultricies egestas lacinia. Cras tempus a leo vel porta. Sed nec venenatis orci, et lobortis eros. Integer leo tortor, commodo sodales consectetur vel, mattis quis nibh. Nam nec sem ante. Nunc fringilla luctus nibh sit amet egestas. Aenean commodo eros non justo vulputate, sit amet condimentum nisl malesuada. Etiam massa lorem, consectetur eu blandit ut, blandit in ante.</p>
    <p>Ut congue aliquet ante, quis interdum neque volutpat eget. Phasellus odio est, cursus sed mi et, pellentesque malesuada quam. Curabitur consectetur, dui quis semper posuere, risus lacus blandit orci, vel pellentesque enim quam eu sem. Phasellus purus velit, mollis ut imperdiet vitae, pharetra eget elit. Cras a quam egestas, egestas lectus sed, vehicula turpis. Duis eget vestibulum odio. Aliquam a tortor vulputate, finibus est vulputate, fermentum justo. Phasellus porta, tellus quis aliquam pharetra, felis ex maximus lacus, et commodo turpis leo vel purus. Pellentesque interdum accumsan ligula, sed luctus ipsum imperdiet ut. Donec elementum at odio sed tempor. Proin varius aliquam mi, sed posuere quam tincidunt eu. Pellentesque nisl nisi, sagittis eu sem ut, vehicula fermentum mauris. Sed at aliquam tortor.</p>
</article>

<article class="shoplink">
    <a href="">
        <div class="shoplink_image" style="background-image: url('{{ MEDIA_URL }}images/jewellery.jpg')">

        </div>
        <p>Shop Jewellery</p>
    </a>
</article>
<article class="shoplink">
    <a href="">
        <div class="shoplink_image" style="background-image: url('{{ MEDIA_URL }}images/skincare.jpg')">

        </div>
        <p>Shop Skin Care</p>
    </a>
</article>
{% endblock %}
