<div class="nav_container">
    <div class="logo">
        <a href="/">
            <object data="{{ STATIC_URL }}images/beutiful_logo.svg" type="image/svg+xml" width="150">
                <img src="yourfallback.jpg" />
            </object>
        </a>

    </div>
    <h1 class="site_title">BE&nbsp;-&nbsp;<object data="{{ STATIC_URL }}images/beutiful_heart.svg" type="image/svg+xml" width="25"></object>&nbsp;-&nbsp;tiful</h1>
    <h2 class="site_sub_title">Style &amp; Well-being just for you</h2>
    <div class="navigation">
        <li class="navitem" id="selected"><a href="">Welcome</a></li>
        <li class="navitem"><a href="">About Me</a></li>
        <li class="navitem"><a href="">Services</a></li>
    </div>
</div>
