    <div class="title_logo">
        <div class="nav_container">
            <div class="logo">
                <a href="/">
                    <object data="{{ STATIC_URL }}images/beutiful_logo.svg" type="image/svg+xml" width="170">
                        <img src="yourfallback.jpg" />
                    </object>
                </a>
            </div>
            <h1 class="site_title">BE&nbsp;-&nbsp;<object data="{{ STATIC_URL }}images/beutiful_heart.svg" type="image/svg+xml" width="25"></object>&nbsp;-&nbsp;tiful</h1>
            <h2 class="site_sub_title">Style &amp; Well-being just for you</h2>
    </div>
    <div class="navigation">
        {% url 'beutifulhome:index' as url %}
        <li class="navitem" {% if url == request.get_full_path %}id="selected"{% endif %}><a href="{{ url }}">Welcome</a></li>
        {% url 'beutifulhome:about' as url %}
        <li class="navitem" {% if url == request.get_full_path %}id="selected"{% endif %}><a href="{{ url }}">About Me</a></li>
        {% url 'beutifulhome:products' as url %}
        <li class="navitem" {% if url == request.get_full_path %}id="selected"{% endif %}><a href="{{ url }}">Products</a></li>
        {% url 'beutifulhome:services' as url %}
        <li class="navitem" {% if url == request.get_full_path %}id="selected"{% endif %}><a href="{{ url }}">Services</a></li>
        {% url 'beutifulhome:friends' as url %}
        <li class="navitem" {% if url == request.get_full_path %}id="selected"{% endif %}><a href="{{ url }}">Friends Of</a></li>
        {% url 'beutifulhome:contact' as url %}
        <li class="navitem" {% if url == request.get_full_path %}id="selected"{% endif %}><a href="{{ url }}">Contact</a></li>
    </div>
</div>
