{% extends "beutifulhome/base.html" %}

{% block content %}
<article class="page_content">
    <h2>Products</h2>
    <p>
        At BE-U-tiful we stock a few ranges of style, skincare and wellbeing
        products that compliment our services and help share our vision of
        individual wellness, inside and out. We personally use all the
        companies that we stock so we know you only get the best!
    </p>
    <h4>Tropic Skincare</h4>
    <p>
        Tropic Skincare is a UK based skincare and makeup company that is
        owned by Sir Alan Sugar and Susan Ma. Providing pure, honest, ethical
        and effective plant based cosmetics and make up that has won multiple
        awards and is also Vegan Society approved and PETA approved - so no
        animals products and totally cruelty free! Check out the testimonials
        and awards that Tropic Skincare have won and have a browse of the
        gorgeous make up and skincare items available.
    </p>
    <p>
        Ringana have won awards for their ethical practices and keep
        everything in house (which is solar powered too!). They personally
        test every batch to check for quality and are also listed on the PETA
        site as being vegan and cruelty free!
    </p>
    <p><a href="http://tropicskincare.co.uk/shop/jadereece">More Information</a></p>
    <h4>Magnetix Wllness</h4>
    <p>
        Magnetix Wellness has been running since 1999 and is based in Germany.
        They specialise in stylish health and well-being magnetic jewellery to
        help reduce pain, inflammation, increase energy in not only the whole
        family - but pets too! They have been featured in Vogue and other
        publications and have an ethical background.
    </p>
    <p>
        Magnet use for health and well-being has been around for years with
        many people using them to alleviate symptoms of arthritis, osteoporosis
        and many other problems. It is now being widely studied and featured
        in publications as it is becoming more mainstream and celebrities are
        starting to speak out about their magnet therapy uses!
    </p>
    <p>
        <a href="http://beutiful.magnetix-wellness.com/en">More Information</a>
    </p>
</article>
{% endblock %}
