{% extends "beutifulhome/base.html" %}

{% block content %}
<article class="page_content">
    <h3>Products</h3>
    <p>
        At BE-u-tiful we stock a few ranges of style, skincare and wellbeing
        products that compliment our services and help share our vision of
        individual wellness, inside and out. We personally use all the
        companies that we stock so we know you only get the best!
    </p>
    <h4>Ringana</h4>
    <p>
        Ringana is an Austrian company that has been going for over 20 years.
        They supply 100% cruelty free, vegan, organic, 100% fresh and 100%
        natural skincare and wellbeing products. Unlike many natural products
        which are made up of essential oils, Ringana use state-of-the-art
        methods to extract the best bits from a product - meaning no strong
        smells, no oily textures and this also means their products have
        multiple uses (such as the Men’s Serum makes a fantastic base for
        foundation!).
    </p>
    <p>
        Ringana have won awards for their ethical practices and keep
        everything in house (which is solar powered too!). They personally
        test every batch to check for quality and are also listed on the PETA
        site as being vegan and cruelty free! 
        <a href="http://www.ringana.com/en/1438796">Take a peak</a>.
    </p>
</article>
{% endblock %}
