{% extends "beutifulhome/base.html" %}

{% block content %}
<article class="page_content">
    <h3>Services</h3>
    <p>
        We offer a wide range of services for all of your style, well-being and
        stress management needs. All initial consultations are FREE and no
        obligation, they can be undertaken online or in person, prices are listed
        with the services below and alternative rates are offered for those with
        financial hardship:
    </p>
    <ul>
        <li>
            Stress Management: Find a way that works for you to handle stress,
            increase your mind-body balance and gain some valuable tools to help you
            deal with stress later in life. Initial consultation is free, £30 per hour
            thereafter.
        </li>
        <li>
            Skincare &amp; Wellbeing: We offer a FREE consultation service for you and
            your skin. Have an in-depth discussion, try out some products and find
            what works for you with no obligation. We have helped many clients with
            different queries ranging from eczema, un-balanced skin tone/appearance,
            natural remedies to help with mood, natural sport supplements, menopause,
            Crohn's disease and IBS help and clean eating/natural detox.
        </li>
        <li>
            Wellbeing &amp; Pamper Parties: Treat yourself, your friends and your
            family by hosting a party with us. Try out some of our incredible
            skincare, wellbeing and style products, earn yourself some rewards and
            boost your confidence all in the comfort of your own home. We can also
            offer stress management tips, confidence boosting and wellbeing advice in
            a fun, friendly and down-to-earth get together and it’s FREE to host!
        </li>
        <li>
            Style &amp; Confidence Advice: Let yourself radiate confidence and beauty
            with style - not sure what to wear to that work party? Send us some ideas
            of what you have to work with or what you are looking for and we can help
            you look your very best for the event or day-to-day wear. Radiate
            confidence inside and out with our bespoke advice whether that be for an
            interview, special occasion, public speaking or even just day-to-day.
            FREE consultation with no obligation and £30 per hour thereafter.
        </li>
        <li>
            Personal Shopper: Allow us to be your gifting goddess, let us know your
            budget, a little about the people you are buying for and we can send you
            some personal and tailored ideas to get that gifting list ticked off, all
            for free and no obligation to buy.
        </li>
    </ul>
</article>
{% endblock %}
